/*[class^='container']{
    border: 1px dashed black;
    background-color: rgb(255, 255, 255);
    min-height: 10vh;}*/
    
    

   
.coluno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}